<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="DbTest">
            <file>./test/DbTest.php</file>
        </testsuite>
        <testsuite name="QueryTest">
            <file>./test/Query/QueryTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>